doctype html
html
    head
        include head
        link(rel="stylesheet", href="/stylesheets/auth.css")
        script
            |   window.fbAsyncInit = function() {
            |       FB.init({
            |           appId: "#{appId}",
            |           cookie: true,
            |           xfbml: true,
            |           version: "v7.0"
            |       });
            |       FB.AppEvents.logPageView();
            |   };
        script(async, defer, src="https://connect.facebook.net/zh_TW/sdk.js")
        script(src="/javascripts/auth.js")
    body
        .login_menu
            h5 以下列任一方法登入
            .fb-login-button(
                data-size="large",
                data-button-type="login_with",
                data-layout="default",
                data-auto-logout-link="false",
                data-use-continue-as="false",
                data-width="",
                data-scope="public_profile, email"
            )