doctype html
html
    head
        include head
        script(src="/js/user-me.js")
    body
        main
            .accordion.centered
                .toggle.form-default.active
                    h6.section-title 基本資料
                    span
                        .iconify.open(data-icon="mdi:chevron-down")
                        .iconify.close(data-icon="mdi:chevron-up")
                .content.centered.active
                    .form-basic.form-default
                        .form-control
                            label(for="username") 姓名
                            input#username(type="text", value=`${user.name || ""}`)
                        .form-control
                            label(for="email") 電子郵件
                            input#email(type="text", value=`${user.email || ""}`)
                        .form-control.centered
                            button.button-default.primary 更新資料
            .accordion.centered
                .toggle.form-default
                    h6.section-title 登入方式
                    span
                        .iconify.open(data-icon="mdi:chevron-down")
                        .iconify.close(data-icon="mdi:chevron-up")
                .content.centered
                    .form-basic.form-default
                        .form-control
                            label(for="password") 密碼
                            input#password(type="password")
                        .form-control
                            label(for="new-password") 新密碼
                            input#new-password(type="password")
                        .form-control.centered
                            button.button-default.primary 變更密碼
            .accordion.centered
                .toggle.form-default
                    h6.section-title Facebook帳號
                    span
                        .iconify.open(data-icon="mdi:chevron-down")
                        .iconify.close(data-icon="mdi:chevron-up")
                .content.centered
                    .form-basic.form-default
                        if user.apps.facebook
                            .form-control
                                 label(for="fb-username") 帳號名稱
                                 input#fb-username(
                                     type="text",
                                     value=`${user.apps.facebook.name}`
                                     disabled
                                 )
                            .form-control
                                label(for="fb-email") 電子郵件
                                input#fb-email(
                                    type="text",
                                    value=`${user.apps.facebook.email}`,
                                    disabled
                                )
                            .form-control.centered
                                button.button-default.secondary(disabled) 解除連結
                        else
                            .form-control.centered
                                button.button-default.primary 連結Facebook帳號
            .accordion.centered
                .toggle.form-default
                    h6.section-title 我的帳戶
                    span
                        .iconify.open(data-icon="mdi:chevron-down")
                        .iconify.close(data-icon="mdi:chevron-up")
                .content.centered
                    .form-basic.form-default
                        .form-control.centered
                            if !user.verified
                                a.button-default.secondary(href="/user/verify") 驗證電子郵件
                            a.button-default.secondary(href="/user/logout") 登出
        include page-basic