doctype html
html
    head
        include ../head
        include ../graph
        link(rel="stylesheet", href="/stylesheets/user/register.css")
        script(src="/javascripts/user/register.js")
    body
        .card
            .login
                header
                    h4 建立帳號
                main
                    .form
                        .controls
                            label 姓名
                            input#name(name="username", type="text")
                            span.status(style="color: red")
                        .controls
                            label 電子郵件
                            input#email(type="email")
                            span.status(style="color: red")
                        .controls
                            label 密碼
                            input#password(type="password")
                            span.status(style="color: red")
                        .controls
                            button#register.primary 建立帳戶
                            span.status(style="color: red")
                        .controls
                            a.status(href="/user/login") 登入
                footer
                    .fb-login-button(
                        data-size="large",
                        data-button-type="login_with",
                        data-layout="default",
                        data-auto-logout-link="false",
                        data-use-continue-as="false",
                        data-width="",
                        data-scope="public_profile, email"
                    )